<!doctype html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/style.css' %}">

<html>
<head>
    <meta charset="UTF-8">
    <title>Dane personalne</title>
</head>
<body>
<div class="menu pasek-menu">
    <ul id="ikony-menu">

        <li class="pole-menu pole-menu-dane">
            <a href="." >Twoje dane</a>
        </li>

        <!-- <li class="pole-menu pole-menu-wiadomosci">
            <a href="wiadomosci" >Wiadomości</a>
        </li> -->

        <li class="pole-menu pole-menu-oceny">
            <a href="twoje_grupy" >Grupy zajeciowe</a>
        </li>

        <li class="pole-menu pole-menu-wyloguj">
            <a href="logout/"><div style="height:30px; width:30px;"> </div></a>
        </li>

    </ul>
</div>
<div class="box tabela-dane">
    <div class="box-glowa">
        <h3>Dane personalne:</h3>
    </div>
    <div class="box-cialo">
        <table id="TabelaDaneStud" class="ListaTabela tabela tabela-paski">
            <tbody>
            <tr>
                <th>Imię</th>
                <td>{{ ProwadzacyDane.values.first.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ ProwadzacyDane.values.first.nazwisko }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ ProwadzacyDane.values.first.tytul }}</td>
            </tr>
            <tr>
                <th>Adres email</th>
                <td>{{ ProwadzacyDane.values.first.adres_email }}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

</body>

</html>