<!doctype html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/style.css' %}">

<html>
<head>
    <meta charset="UTF-8">
    <title>Dane personalne</title>
</head>
<body>
<div class="menu pasek-menu">
    <ul id="ikony-menu">

        <li class="pole-menu pole-menu-dane">
            <a href="." >Twoje dane</a>
        </li>

        <!-- <li class="pole-menu pole-menu-wiadomosci">
            <a href="wiadomosci" >Wiadomości</a>
        </li> -->

        <li class="pole-menu pole-menu-oceny">
            <a href="oceny/" >Oceny</a>
        </li>

        <li class="pole-menu pole-menu-wyloguj">
            <a href="logout/"><div style="height:30px; width:30px;"> </div></a>
        </li>

    </ul>
</div>
<div class="box tabela-dane">
    <div class="box-glowa">
        <h3>Dane personalne:</h3>
    </div>
    <div class="box-cialo">
        <table id="TabelaDaneStud" class="ListaTabela tabela tabela-paski">
            <tbody>
            <tr>
                <th>Numer indeksu</th>
                <td>{{ StudentDane.values.first.numer_indeksu }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ StudentDane.values.first.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ StudentDane.values.first.nazwisko }}</td>
            </tr>
            <tr>
                <th>Wydzial</th>
                <td>{{ Wydzial.values.first.wydzial }}</td>
            </tr>
            <tr>
                <th>Kierunek</th>
                <td>{{ Kierunek.values.first.kierunek }}</td>
            </tr>
            <tr>
                <th>Rok rozpoczecia studiów</th>
                <td>{{ StudentDane.values.first.rok_rozpoczecia }}</td>
            </tr>
            <tr>
                <th>Rok studiów</th>
                <td>{{ StudentDane.values.first.rok_studiow }}</td>
            </tr>
            <tr>
                <th>Semestr</th>
                <td>{{ StudentDane.values.first.semestr }}</td>
            </tr>
            <tr>
                <th>Stopień</th>
                <td>
                    {% if StudentDane.values.first.stopien_studiow == 1 %}
                    Studia I-go stopnia
                    {% elif StudentDane.values.first.stopien_studiow == 2 %}
                    Studia II-go stopnia
                    {% endif %}

                </td>
            </tr>
            <tr>
                <th>Miejscowość</th>
                <td>{{ Adres.values.first.miejscowosc }}</td>
            </tr>
            <tr>
                <th>Ulica</th>
                <td>{{ Adres.values.first.ulica }}</td>
            </tr>
            <tr>
                <th>Numer domu</th>
                <td>{{ Adres.values.first.numer_domu }}</td>
            </tr>
            <tr>
                <th>Kod pocztowy</th>
                <td>{{ Adres.values.first.kod_pocztowy }}</td>
            </tr>

            </tbody>

        </table>
    </div>
</div>

<div class="przycisk-modyfikacja">
    <a href="modyfikacja/"> Modyfikuj</a>
</div>


</body>

</html>