<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/StylModyfikuj.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'indeks/style.css' %}">

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Modyfikuj dane</title>
</head>
<body>
    <div class="menu pasek-menu">
        <ul id="ikony-menu">

            <li class="pole-menu pole-menu-dane">
                <a href="../" >Twoje dane</a>
            </li>

             <!-- <li class="pole-menu pole-menu-wiadomosci">
                <a href="../wiadomosci" >Wiadomości</a>
            </li> -->

            <li class="pole-menu pole-menu-oceny">
                <a href="../oceny" >Oceny</a>
            </li>

            <li class="pole-menu pole-menu-wyloguj">
                <a href="../logout"><div style="height:30px; width:30px;"> </div></a>
            </li>

        </ul>
    </div>

    <div class="box">
        <div class="box-glowa">
            <h3> Modyfikuj dane </h3>
        </div>

        <div class="box-cialo">
            <form method="post" action="." class="tabela-dane">
                {% csrf_token %}
                {{ formAdres.as_p }}

                <input type="submit" value="Modyfikuj">
            </form>
        </div>
    </div>


</body>
</html>