<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/StylOceny.css' %}">

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Oceny</title>
</head>
<body>
<div class="menu pasek-menu">
    <ul id="ikony-menu">

        <li class="pole-menu pole-menu-dane">
            <a href="../" >Twoje dane</a>
        </li>

        <!-- <li class="pole-menu pole-menu-wiadomosci">
            <a href="../wiadomosci/" >Wiadomości</a>
        </li> -->

        <li class="pole-menu pole-menu-oceny">
            <a href="../oceny/" >Oceny</a>
        </li>

        <li class="pole-menu pole-menu-wyloguj">
            <a href="../logout/"><div style="height:30px; width:30px;"> </div></a>
        </li>

    </ul>
</div>

<div class="box tabela-dane">
    <div class="box-glowa">
        <h3>Oceny:</h3>
        <div class="wybor-semestru">
            <form action="."  method="post">
                {% csrf_token %}
                <label for="id_Semestr" >Semestr: </label>
                <input type="number" name="Semestr" required="" id="id_Semestr" value="{{ Semestr }}" min="1" max="7">
                <input type="submit" value="Pokaż">
            </form>
        </div>

    </div>
    <div class="box-cialo">
        <table id="TabelaOcenaStud" class="ListaTabela tabela">
                <tbody>
                    {% for o in Ocena %}
                    <tr>
                        {% for g in Grupa.values %}
                        {% if g.kod == o.grupa_zajeciowakod_id %}

                            {% for k in Kurs.values %}
                            {% if g.kurskod_id == k.kod and k.semestr == Semestr %}
                                <th>{{ k.nazwa}} </th>
                                <td>{{ o.wartosc }}</td>
                            {% endif %}
                            {% endfor %}

                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
<div class="przyciski-do-ocen">
    <ul id="przyciski-oceny">
        <li class="pole-przycisk-ocen przycisk-reklamuj">
            <a href="reklamuj/"> Reklamuj</a>
        </li>

        <li class="pole-przycisk-ocen przycisk-kursy">
            <form action=".">
                <select name="WyborKursu">
                    <option selected disabled hidden>Wybierz kurs</option>
                    {% for o in Ocena %}
                    <tr>
                        {% for g in Grupa.values %}
                        {% if g.kod == o.grupa_zajeciowakod_id %}

                            {% for k in Kurs.values %}
                            {% if g.kurskod_id == k.kod and k.semestr == Semestr %}
                                <option>{{ k.nazwa }}</option>
                            {% endif %}
                            {% endfor %}

                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </select>
            </form>
        </li>
    </ul>
</div>

</body>
</html>