<!doctype html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/StylGrupa.css' %}">

<html>
<head>
    <meta charset="UTF-8">
    <title>Dane personalne</title>
</head>
<body>
<div class="menu pasek-menu">
    <ul id="ikony-menu">

        <li class="pole-menu pole-menu-dane">
            <a href="../indeks" >Twoje dane</a>
        </li>

        <!-- <li class="pole-menu pole-menu-wiadomosci">
            <a href="wiadomosci" >Wiadomości</a>
        </li> -->

        <li class="pole-menu pole-menu-oceny">
            <a href="." >Grupy zajeciowe</a>
        </li>

        <li class="pole-menu pole-menu-wyloguj">
            <a href="logout/"><div style="height:30px; width:30px;"> </div></a>
        </li>

    </ul>
</div>
<div class="box tabela-dane">
    <div class="box-glowa">
        <h3>Twoje grupy zajęciowe:</h3>
    </div>
    <div class="box-cialo">
        <table id="TabelaDaneGrup" class="ListaTabela tabela tabela-paski">
            <tbody>
            {% for g in Grupy.values %}
                {% for k in Kursy.values %}
                {% if g.kurskod_id == k.kod %}
                <tr>
                    <th>{{ k.nazwa }} </th>
                    <th>{{ g.kod }} </th>
                    <th>{{ dzien_tygodnia }} </th>
                    <th>{{ g.godzina_rozpoczecia }} </th>
                    <th>{{ g.parzystosc }} </th>
                </tr>
                    {% for gs in GrupaStudent.values %}
                    {% if gs.grupa_zajeciowakod_id == g.kod %}
                        {% for s in Studenci.values %}
                        {% if s.numer_indeksu == gs.studentnumer_indeksu_id %}
                            <tr>
                                <td> {{ s.numer_indeksu }} </td>
                                <td> {{ s.imie }} </td>
                                <td> {{ s.nazwisko }} </td>
                                <td> (
                                {% for oc in OcenyCzastkowe.values %}
                                {% if s.numer_indeksu == oc.studentnumer_indeksu_id and g.kod == oc.grupa_zajeciowakod_id %}
                                    {{ oc.wartosc }}
                                {% endif %}
                                {% endfor %}
                                ) </td>
                                {% for o in Oceny.values %}
                                {% if s.numer_indeksu == o.studentnumer_indeksu_id and g.kod == o.grupa_zajeciowakod_id %}
                                    <td>{{ o.wartosc }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            {% endfor %}


            </tbody>

        </table>
    </div>
</div>

</body>

</html>