<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/StylOceny.css' %}">

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Oceny</title>
</head>
<body>
<div class="menu pasek-menu">
    <ul id="ikony-menu">

        <li class="pole-menu pole-menu-dane">
            <a href="../" >Twoje dane</a>
        </li>

        <li class="pole-menu pole-menu-wiadomosci">
            <a href="../wiadomosci" >Wiadomości</a>
        </li>

        <li class="pole-menu pole-menu-oceny">
            <a href="../oceny/" >Oceny</a>
        </li>

        <li class="pole-menu pole-menu-wyloguj">
            <a href="../logout"><div style="height:30px; width:30px;"> </div></a>
        </li>

    </ul>
</div>

<div class="box tabela-dane">
    <div class="box-glowa">
        <h3>Wiadomosci:</h3>
    </div>
    <div class="box-cialo">
        <form action="." method="post">

        </form>

    </div>
</div>


</body>
</html>