.pasek-menu > ul {
	padding: 20px 100px 5px 20px;
	margin: 0px;
	text-align: right;
}

.pole-menu {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}

.pole-menu-dane > a,
.pole-menu-wiadomosci > a,
.pole-menu-twoje_grupy > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	border: 4px solid #000000;
	margin: auto;
	padding: 10px;
	border-radius: 6px;
	margin-right: 10px;
}

.pole-menu-wyloguj {
	background-image: url("Logout30x30.jpg");
	height: 30px;
	width: 30px;
}

.box-glowa {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.box-cialo {
	border: 4px solid #bec4bf;
	margin: auto;
	width: 50%;
	padding: 10px;
}


.przycisk-wystaw > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	border: 4px solid #000000;
	margin: auto;
	width: 70px;
	padding: 10px;
}

.przyciski-do-grup > ul {
	padding: 20px 200px 5px 100px;
	margin: 0px;
	text-align: center;
	width: 55%;

}

.pole-przycisk-grup {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}



.box tabela-dane th{
	padding-right: 10px;
	text-align: left;
	background: none;
	width: 32%;
}