.tabela-dane > p > label{
	padding-right: 30px;
	text-align: left;
	background: none;
	width: 26%;
	display: inline-block;
	font-weight: bold;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.tabela-dane > p > input{
	background: none;
	width: 60%;
}

.box-glowa {
	margin: auto;
	width: 30%;
	padding: 10px;
}

.box-cialo {
	border: 4px solid #bec4bf;
	margin: auto;
	width: 32%;
	padding: 10px;
}