#TabelaDaneStud th{
	padding-right: 10px;
	text-align: left;
	background: none;
	width: 32%;
}

.pasek-menu > ul {
	padding: 20px 100px 5px 20px;
	margin: 0px;
	text-align: right;
}

.pole-menu {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}

.pole-menu-dane > a,
.pole-menu-wiadomosci > a,
.pole-menu-oceny > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	border: 4px solid #000000;
	margin: auto;
	padding: 10px;
	border-radius: 6px;
	margin-right: 10px;
}

.pole-menu-wyloguj {
	background-image: url("Logout30x30.jpg");
	height: 30px;
	width: 30px;
}

.box-glowa {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.box-cialo {
	border: 4px solid #bec4bf;
	margin: auto;
	width: 50%;
	padding: 10px;
}


.tabela-paski > tbody > tr > td {
	padding-right: 40px;
}

.tabela-paski > tbody > tr > th {
	background-color: #efefef;
}