.tabela {
	margin: auto;
	padding-top: 200px;
}

.tabela > tbody > tr > td {
	margin: auto;
	padding-bottom: 20px;
}

.logowanie{
	text-align: center;
}

.przycisk-zapomnialem{
	text-align: center;	
}
