{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indeks/StylLogowanie.css' %}">


{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Proszę, zaloguj się aby zobaczyć tą stronę.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="logowanie">
{% csrf_token %}
<table class="tabela">

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" class="przycisk-login"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="przycisk-zapomnialem"><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>

{% endblock %}